div.tfw-view-InputFile {
    padding: 0;
    margin: 0;
    display: inline-block;
}
div.tfw-view-InputFile.wide {
    display: block;
}
div.tfw-view-InputFile > input {
    display: none;
}
