body {
    font-size: 16px;
    font-family: josefin-sans, sans-serif;
}

div#login {
    position: absolute;
    right: 1rem;
    bottom: 1rem;
    margin: 0;
    padding: 0;
    max-width: 310px;
    z-index: 999999;
}

div#login>div {
    transition: all .3s;
    opacity: 0;
    transform: scale(0);
    transform-origin: right bottom;
}

div#login.show>div {
    transition: all .3s;
    opacity: 1;
    transform: scale(1);
    transform-origin: right bottom;
}
